:root {
  --pd-margin-padding-0: 4px;
  --pd-margin-padding-1: 8px;
  --pd-margin-padding-2: 16px;
  --pd-margin-padding-3: 24px;
  --pd-margin-padding-4: 32px;

  --pd-text-color-titile: #232426;

  --pd-divider: var(--el-border-width) var(--el-border-style) var(--el-border-color); // 默认的边框

  --pd-card-bg-color: #eef3fa;
  --pd-card-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); // 默认的卡片阴影

  --pd-scroll-bg-color: #f6f6f6;
  --pd-scroll-thumb-color: #999999;
  --pd-scroll-button-color: var(--pd-scroll-thumb-color);

  --pd-page-min-width: 1400px;
  --pd-page-bg: #f4f4f4; // 页面背景色

  --pd-page-head-height: 48px; // 页面顶部导航高度
  --pd-page-head-bg: #141414;
  --pd-page-head-bg-light: #434343;
  --pd-page-head-box-shadow: 0 1px 2px var(--el-border-color);
  --pd-page-head-color-icon: var(--el-color-primary);
  --pd-page-head-color-primary: var(--el-color-white);
  --pd-page-head-color-regular: #d9d9d9;
  --pd-page-head-secondary-height: 40px; // 页面顶部次级导航高度
  --pd-page-head-secondary-bg: var(--el-color-white);
  --pd-page-head-secondary-box-shadow: 0 1px 2px var(--el-border-color);
  --pd-page-head-secondary-color-primary: var(--el-color-primary);
  --pd-page-head-secondary-color-regular: var(--el-text-color-regular);
  --pd-page-left-width: 178px; // 页面左侧导航宽度
  --pd-page-left-bg: var(--pd-page-head-bg);
  --pd-page-left-bg-light: var(--pd-page-head-bg-light);
  --pd-page-left-box-shadow: 1px 0 2px var(--el-border-color);
  --pd-page-left-menu-height: 50px;
  --pd-page-left-color-primary: var(--pd-page-head-color-primary);
  --pd-page-left-color-regular: var(--pd-page-head-color-regular);
  --pd-page-left-control-background: #484e63;
  --pd-page-left-control-color: #fff;

  --pd-subpage-body-margin: 0; // 页面内容间距
  --pd-subpage-body-header-height: 48px; // 页面内容面包屑条高度
  --pd-subpage-body-main-top-height: 56px; // 页面内容顶部条高度
  --pd-subpage-body-main-bottom-height: 40px; // 页面内容底部条高度
  --pd-subpage-body-main-margin: var(--pd-margin-padding-2);
  --pd-subpage-body-main-gap: var(--pd-margin-padding-2);
}

.el-dialog {
  &.zstp-dialog-mini {
    width: 480px;
  }

  &.zstp-dialog-small {
    width: 640px;
  }

  &.zstp-dialog-middle {
    width: 720px;
  }

  &.zstp-dialog-large {
    width: 960px;
  }

  &.zstp-dialog-with-title-style {
    .el-dialog__title {
      position: relative;
      font-size: 18px;
      color: var(--pd-text-color-titile);

      &::after {
        content: "";
        width: 2px;
        height: var(--el-dialog-font-line-height);
        background: var(--el-color-primary);
        display: block;
        position: absolute;
        top: 0;
        left: calc(var(--el-dialog-padding-primary) * -1);
      }
    }
  }
}

.zstp-container {
  .el-table {
    --el-table-header-bg-color: #ebeef5;
  }
}
